body {
   background: rebeccapurple;
    padding: 0;
    margin: 0;
    
}

h1 {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 20px; 
  }
  
h2 {
    margin: 0 auto;
    width: 30%;
    color: gold;
    font-size: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: dashed;
    border-width: 7px;
    
    border-color:gold;
}

h3 {
    margin: 0;
    text-align: center;
}
h3 .begin {
    background-color: gold;
    color:rebeccapurple;
    font-size: 15px;
    padding: 12px 24px;
    border-style: dashed;
    border-width: 3px;
    border-color: rebeccapurple;
    cursor: pointer;
    border-radius: 5px;
  }

.container {
    margin: 0;
    padding: 0;
    position: relative;
    justify-content: center;
    display:flex;   
}

/* //CONTAINER STYLING DECORATION ONLY  MODELED AFTER W3SCHOOLS */
.container #feed {
    flex-direction: column;
    position: absolute;
    top: 75%;
    left: 21%;
    background-color:gold;
    color: rebeccapurple;
    font-size: 11.5px;
    padding: 12px 24px;
    border-style: dashed;
    border-width: 3px;
    border-color: rebeccapurple;
    cursor: pointer;
    border-radius: 5px;
  }
.container #lights {
    flex-direction: column;
    position: absolute;
    top: 60%;
    left: 21%;
    background-color:gold;
    color:rebeccapurple;
    font-size: 14px;
    padding: 12px 24px;
    border-style: dashed;
    border-width: 3px;
    border-color: rebeccapurple;
    cursor: pointer;
    border-radius: 5px;
  }
.container #pet {
    flex-direction: column;
    position: absolute;
    top: 45%;
    left: 21%;
    background-color:gold;
    color:rebeccapurple;
    font-size:14px;
    padding: 12px 24px;
    border-style: dashed;
    border-width: 3px;
    border-color: rebeccapurple;
    cursor: pointer;
    border-radius: 5px;
  }


  header {
    background: rebeccapurple;
    color: gold;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
   

  /* position pet character in background image */
.container #bob {
  position: absolute;
  top: 18vh;
  right: 65vh;

  animation: linear infinite alternate;
  animation-name: linear;
  animation-duration: 2s;
}

@keyframes linear {
    0% {
      
      transform: translateY(0);
    }
    100% {
      
      transform: translateY(-70%);
    }
}

.container #gary {
  position: absolute;
  top: 45vh;
  right: 42vh;
  height: 75px;
  animation: 
    nudge 25s infinite;
    
}
@keyframes nudge {

        0% {
          transform: rotate(-12deg);
          
        }

        33% {
          transform: rotate(12deg);
          
        }

        66% {
          transform: rotate(-12deg);
          
        }
        100% {
          transform: rotate(12deg);
          
        }
      }
    /* @keyframes pulse {
      0% {
        background-color: none;
      }
      100% {
        background-color: none;
      }
 } */



  
  


.container #background {
    border-style: dashed;
    border-width: 15px;                
    border-color: gold;
}

  