body {
   
    padding: 0;
    margin: 0;
    width: 1500px;
    
    background: url("SPONGEBOBHOUSE.png");
    background-size: cover;
    overflow: hidden;
    font-family: 'Oldenburg', cursive;
    
}



  
h2 {
  font-family: 'Oldenburg', cursive;
    margin: 5;
    padding: 5;
    background: #ff808b;
    position: absolute;
    width: 35%;
    color: #f7e948;
    font-size: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: dashed;
    border-width: 10px;
    border-color: #f7e948;
    
}


h2 .begin {
    font-family: 'Oldenburg', cursive;
    background-color:  #f7e948;
    color:#ff808b;
    font-size: 15px;
    padding: 12px 24px;
    border-style: dashed;
    border-width: 3px;
    border-color: #ff808b;
    cursor: pointer;
    border-radius: 5px;
    outline:none;
  }
  h2 .begin:hover {
    cursor: pointer;
    transform: scale(1.2);
    }

  
/* //CONTAINER STYLING DECORATION ONLY  MODELED AFTER W3SCHOOLS */
.container #feed {
  font-family: 'Oldenburg', cursive;
    flex-direction: column;
    position: absolute;
    top: 55%;
    left: 10%;
    background-color: #f7e948;
    color: #ff808b;
    font-size: 15px;
    padding: 12px 24px;
    border-style: dashed;
    border-width: 4px;
    border-color: #ff808b;
    cursor: pointer;
    border-radius: 8px;
    outline:none;
  }
  .container #feed:hover {
    cursor: pointer;
    transform: scale(1.5);
    }
.container #lights {
  font-family: 'Oldenburg', cursive;
    flex-direction: column;
    position: absolute;
    top: 65%;
    left: 10%;
    background-color: #f7e948;
    color:#ff808b;
    font-size: 17px;
    padding: 12px 24px;
    border-style: dashed;
    border-width: 4px;
    border-color: #ff808b;
    cursor: pointer;
    border-radius: 8px;
    outline:none;
  }
  .container #lights:hover {
    cursor: pointer;
    transform: scale(1.5);
    }
.container #pet {
  font-family: 'Oldenburg', cursive;
    flex-direction: column;
    position: absolute;
    top: 75%;
    left: 10%;
    background-color: #f7e948;
    color:#ff808b;
    font-size:17px;
    padding: 12px 27px;
    border-style: dashed;
    border-width: 4px;
    border-color: #ff808b;
    cursor: pointer;
    border-radius: 8px;
    outline:none;
  }
  .container #pet:hover {
    cursor: pointer;
    transform: scale(1.5);
    }

  header {
    /* background: rebeccapurple; */
    color: gold;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
   

  /* position pet character in background image */
.container #bob {
  position: absolute;
  top: 25vh;
  right:95vh;
  animation: linear infinite alternate;
  animation-name: linear;
  animation-duration: 2s;
}

@keyframes linear {
    0% {
      
      transform: translateY(0);
    }
    100% {
      
      transform: translateY(-100%);
    }
}

.container #gary {
  position: absolute;
  top: 75vh;
  right: 105vh;
  height: 80px;
  animation-duration: 2s;
  animation: 
    nudge 5s infinite;
    
}
@keyframes nudge {

        0% {
          transform: rotate(-15deg);
          
        }

        /* 33% {
          transform: rotate(12deg);
          
        } */

        /* 66% {
          transform: rotate(-12deg);
           */
        /* } */
        100% {
          transform: rotate(15deg);
          
        }
      }
   

      .container #plank {
        position: absolute;
        top: 19vh;
        right: -5vh;
        height: 90px;
      }

    .container #home {
    font-family: 'Oldenburg', cursive;
    flex-direction: column;
    position: absolute;
    top: 45%;
    left: 93%;
    background-color: #f7e948;
    color:#ff808b;
    font-size:15px;
    padding: 12px 24px;
    border-style: dashed;
    border-width: 4px;
    border-color: #ff808b;
    cursor: pointer;
    border-radius: 8px;
    outline:none;
    }